# Task 1

#### 1) i have already installed the anaconda distribution

### Q. 2) Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [64]:
n = int(input())
if n>=2000 and n<=3200 :
    if n%7== 00 and n%5!=0:
        print('this no. is divisible by 7 but not 5')
    else:
        print('this no. is not divisible by only 7')

2002
this no. is divisible by 7 but not 5

### Q 3) Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [15]:
first_name = input()
last_name = input()
print(first_name[::-1],last_name[::-1])

hitesh
gupta
hsetih atpug

### Q. 4) Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * Ï€ * r 3

In [23]:
diameter = 12
radius = diameter/2
pi = 3.14
volume = ((4*pi)*(radius**3))/3
print(volume)

904.32

# Task 2

### Q. 1) Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [26]:
numbers = input()
list = numbers.split(',')
print(list)

15,18,59,46,25,48
['15', '18', '59', '46', '25', '48']

- here in this program it gives us string not numbers problem that i have faced below i use the 'int()' method but it gives error with output i google this error but not understand how can i overcome with this problem

In [27]:
numbers = int(input())
list = numbers.split(',')
print(list)

12,15,14,18,19,25,165,89

ValueError: invalid literal for int() with base 10: '12,15,14,18,19,25,165,89'

### Q. 2) Create the below pattern using nested for loop in Python.

In [45]:
for i in range(1,6):
    for j in range(i,i+1):
        for k in range(i):
            print('* ',end='')
        print('')

*
* *
* * *
* * * *
* * * * *

In [53]:
for i in range(6,2,-1):
    for j in range(i-2):
        print('* ',end='')
    print('')

* * * *
* * *
* *
*

In [59]:
for i in range(1,6):
    for j in range(i,i+1):
        for k in range(i):
            print('* ',end='')
        print('')
for i in range(6,2,-1):
    for j in range(i-2):
        print('* ',end='')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Q. 3) Write a Python program to reverse a word after accepting the input from the user.

In [63]:
name = input()
print(name[::-1])

acadgild
dligdaca

### Q. 4)Write a Python Program to print the given string in the format specified in the sample output.

In [2]:
text = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"

In [3]:
tokens = text.split()

In [20]:
i = 0
for token in tokens:
    if token[0].isupper():
        #print("\t"*i, end="")
        print()
        print(token+'\t',end = " ")
        #print('',end='')
    else:
        
        print("\t"*i, end="")
        print(token,end = " ")

WE,
THE
PEOPLE
OF
INDIA,	 having solemnly resolved to constitute
India	 into a
SOVEREIGN,
SOCIALIST,
SECULAR,
DEMOCRATIC
REPUBLIC	 and to secure to all its citizens

In [18]:
# text.split(",")